SendTestSms/Service References/NicTestSms/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SMSsend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SRNO" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSsendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SMSsendResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSsend_V2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smsto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="template_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SRNO" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SMSsend_V2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SMSsend_V2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SMSsendSoapIn">
    <wsdl:part name="parameters" element="tns:SMSsend" />
  </wsdl:message>
  <wsdl:message name="SMSsendSoapOut">
    <wsdl:part name="parameters" element="tns:SMSsendResponse" />
  </wsdl:message>
  <wsdl:message name="SMSsend_V2SoapIn">
    <wsdl:part name="parameters" element="tns:SMSsend_V2" />
  </wsdl:message>
  <wsdl:message name="SMSsend_V2SoapOut">
    <wsdl:part name="parameters" element="tns:SMSsend_V2Response" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SMSsend">
      <wsdl:input message="tns:SMSsendSoapIn" />
      <wsdl:output message="tns:SMSsendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SMSsend_V2">
      <wsdl:input message="tns:SMSsend_V2SoapIn" />
      <wsdl:output message="tns:SMSsend_V2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SMSsend">
      <soap:operation soapAction="http://tempuri.org/SMSsend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSsend_V2">
      <soap:operation soapAction="http://tempuri.org/SMSsend_V2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SMSsend">
      <soap12:operation soapAction="http://tempuri.org/SMSsend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SMSsend_V2">
      <soap12:operation soapAction="http://tempuri.org/SMSsend_V2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://www.kar.nic.in/karsms/smssend/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://www.kar.nic.in/karsms/smssend/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>